:root {
    --color1: white;
    --color2: #18191a;
    --body: #43403F;
    --navbuttext: #B6A89B;
    --currentbutton: #18191a;
    --header: #43403F;
    --transition-speed: 0.5s;
    --switch: #43403F;
    --headerh1: #B6A89B;
    --switchborder: #B6A89B;
    --content: white;

    --color3: #667479;
}

.darkmode {
    --color1: #313338;
    --color2: white;
    --body: #191919;
    --navbuttext: white;
    --currentbutton: white;
    --header: #222222;
    --button: #313338;
    --headerh1: white;
    --switchborder: white;
    --content: #222222;

    --color3: white;
}



header h1 {
    display: inline-block;
    line-height: 16px;
    letter-spacing: 5px;
    color: var(--headerh1);
    font-family: 'Bokor', cursive;
    font-size: 30px;
    transition: color var(--transition-speed) ease-in-out;
    font-weight: normal;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--header);
    height: 80px;
    display: flex;
    align-items: center;
    transition: background-color var(--transition-speed) ease-in-out;

}

.parent {
    margin-left: auto;
}

@font-face {
    font-family: 'ggsans-medium';
    src: url('ggsans-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'ggsans-bolder';
    src: url('ggsans-ExtraBold.ttf');
    font-weight: bolder;
    font-style: normal;
}

.header-navigation {
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    line-height: 30px;
    font-size: 16px;
    height: 30px;

}

.header-navigation ul {
    display: flex;
    margin: 0;

}

/* .header-navigation ul li {
    margin: 0 10px;

} */

.header-navigation ul li a {
    padding: 0 30px;
    cursor: pointer;
    height: 100%;
    display: block;
    font-family: 'ggsans-bolder', sans-serif;
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--body);
    transition: background-color var(--transition-speed) ease-in-out;

}

.boton {
    background-color: var(--content) !important;
    border-radius: 15px 15px 0px 0px;
    color: var(--currentbutton);
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    padding: 7px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    
    
}
.boton1 {
    position: relative; /* Make the list item a positioning context */
    transition: background-color var(--transition-speed) ease-in-out;
    background-color: var(--content) !important;
    border-radius: 0px;
    width: 12px;
    
    
}
.boton-left::before {
    content: ''; /* Add content for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 12px; /* Match the width of the parent */
    height: 100%; /* Match the height of the parent */
    transition: background-color var(--transition-speed) ease-in-out;
    background-color: var(--body); /* Set the background color for the shape */
    border-radius: 0 0 12px 0; /* Inherit the border-radius from the parent */
    z-index: 1; /* Move the pseudo-element behind the content */
}
.boton-right::before {
    content: ''; /* Add content for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 12px; /* Match the width of the parent */
    height: 100%; /* Match the height of the parent */
    transition: background-color var(--transition-speed) ease-in-out;
    background-color: var(--body); /* Set the background color for the shape */
    border-radius: 0 0 0 12px; /* Inherit the border-radius from the parent */
    z-index: 1; /* Move the pseudo-element behind the content */
}

.spacer {
    height: 15px;
}

.cart-link {
    /* Add your additional styles here */
    font-weight: bold;
    font-size: 16px;
    color: #333;
    /* Add any other styles you want */
}

.navigation-button {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    background: var(--navb);
    color: var(--navbuttext);
    margin: 0 10px;
}

.navigation-button:after {
    content: "";
    width: 85%;
    height: 0%;
    background: var(--content);
    position: absolute;
    transition: all 0.3s ease-out;
    bottom: 0;
}

.navigation-button:hover::after {
    width: 100%;
    height: 25%;
    border-radius: 15px 15px 0px 0px;
}

.navigation-button span {
    text-align: center;
    color: var(--navbuttext);
    transition: all 0.3s ease-in-out;
}

.navigation-button:hover span {
    transform: scale(1.05) translateY(-3px);
}

.content {
    background-color: var(--content);
    font-family: 'ggsans-medium', sans-serif;
    border-radius: 15px;
    color: var(--color2);
    height: auto;
    display: flex;
    transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Optional: Add margin between the box container and other elements */
}

.box {
    flex: 1; /* Distribute available space evenly among boxes */
    display: flex; /* Add flex display to center the text */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    height: 50px;
    background-color: transparent;
    border: 1px solid;
    border-color: #e4e9ec;
    cursor: pointer;
    margin-right: 4px; /* Optional: Add margin between boxes */
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.box:hover {
    border-color: #bdc4c7;
}
  .active {
   border-color: #667479;
  }
  .active:hover {
    border-color: #667479;
}

  .custom-button {
    flex: 1; /* Distribute available space evenly among boxes */
    display: flex; /* Add flex display to center the text */
    justify-content: center; /* Center the text horizontally */
    align-items: center; 
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 30px;
    background-color: var(--body);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .review-button {
  background-color: transparent; /* Blue background color */
    height: 10vh;
  cursor: pointer; /* Cursor style on hover */
  width: 100%;
  border-top: 1px solid #e4e9ec; /* Black top border */
  border-bottom: 1px solid #e4e9ec; /* Black bottom border */
  position: relative;
}
.icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    font-size: 1.2rem;
    margin-left: 10px;
}
.review-button[aria-expanded="true"] .bi-chevron-down {
    display: none;
}

.review-button[aria-expanded="false"] .bi-chevron-up {
    display: none;
}

.review-container
.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-size: 4rem;
}

.kanit-light-logo {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    margin-left: 20px;
}

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    color: var(--color3);
    letter-spacing: 1px;
    margin: 0 10px;
}

.kanit-light2 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: -1px;
    color: var(--color3);
}

.kanit-light3 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color3);
}
.kanit-light4 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
    color: var(--color3);
    letter-spacing: 2px;
    margin: 0 10px;
}
.kanit-light5 {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--color3);
}
.kanit-light6 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: -1px;
    color: var(--color2);
}

.kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 10px;
}
.kanit-bold2 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.kanit-semibold2 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 20px 0 10pxs 10px;
    color: var(--color2);

}
.kanit-semibold3 {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 20px 0 10px 10px;
    color: var(--color2);

}
.kanit-semibold4 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 0;
    color: var(--color2);
}
.kanit-semibold4 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 0;
    color: var(--color2);
}
.kanit-semibold5 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    text-decoration: underline;
    text-underline-offset: 8px;
    margin: 0;
    color: var(--color2);
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 20px;
}

h2 {
    font-size: 5rem;
}


.button-text {
    text-decoration: none;
    color: var(--color3);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.button-text:hover {
    transform: translateX(20px); /* Move 5px to the right on hover */   
}

.star-rating {
    display: inline-flex; /* Display stars in a row */
    align-items: center; /* Align stars vertically */
    text-align: center;
}
.user-rating {
    display: inline-flex; /* Display stars in a row */
    align-items: center; /* Align stars vertically */
}
  .bi-star-fill::before {
    content: ''; /* No content for filled star */
    background-image: url('../img/star-fill.svg'); /* Replace 'path_to_filled_star_image.png' with the path to your filled star image */
    background-size: contain; /* Adjust the size of the image */
    display: inline-block; /* Ensure the image is displayed inline */
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
  }
  .bi-star-fill2::before {
    content: ''; /* No content for filled star */
    background-image: url('../img/star-fill.svg'); /* Replace 'path_to_filled_star_image.png' with the path to your filled star image */
    background-size: contain; /* Adjust the size of the image */
    display: inline-block; /* Ensure the image is displayed inline */
    width: 18px; /* Adjust the width of the image */
    height: 18px; /* Adjust the height of the image */
  }
  
  .bi-star-half::before {
    content: ''; /* No content for half-star */
    background-image: url('../img/star-half.svg'); /* Replace 'path_to_half_star_image.png' with the path to your half-star image */
    background-size: contain; /* Adjust the size of the image */
    display: inline-block; /* Ensure the image is displayed inline */
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
  }
  .bi-star-empty::before {
    content: ''; /* No content for empty star */
    background-image: url('../img/star.svg'); /* Replace 'path_to_empty_star_image.png' with the path to your empty star image */
    background-size: contain; /* Adjust the size of the image */
    display: inline-block; /* Ensure the image is displayed inline */
    width: 20px; /* Adjust the width of the image */
    height: 20px; /* Adjust the height of the image */
  }
  

footer {
    width: 100%;
    background-color: var(--header);
    color: var(--color1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    transition: background-color var(--transition-speed) ease-in-out;
    z-index: 8;
    margin-top: 100px;
}

footer h1 {
    display: inline-block;
    line-height: 60px;
    color: var(--headerh1);
    font-family: 'Roboto', sans-serif;
    transition: color var(--transition-speed) ease-in-out;
    z-index: 8;
    font-size: 1rem;
}


.toggle-switch {
    position: relative;
    width: 60px;
    height: 25px;
    --light: white;
    --yellow: #ffd801;
    --dark: #18191a;
    float: right;
    margin-right: 25px;
}

.switch-label {
    position: absolute;
    width: 4.5rem;
    height: 2.3rem;
    background-color: var(--switch);
    border-radius: 30px;
    cursor: pointer;
    border: 3px solid var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out, border-color var(--transition-speed) ease-in-out;
}

.checkbox {
    position: absolute;

    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;


}

.checkbox:checked~.slider {
    background-color: var(--content);
    transition: background-color var(--transition-speed) ease-in-out;

}

.slider::before {
    content: "";
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--switchborder);
    transition: background-color var(--transition-speed) ease-in-out;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30x);
    transform: translateX(34px);
    -webkit-box-shadow: inset 7px -4px 0px 0px var(--yellow);
    box-shadow: inset -9px -4px 0px 0px var(--yellow);
    background-color: var(--content);

}
.green-circle {
    width: 60px;
    height: 60px;
    background-color: #00bfa5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.modal-text {
    margin-left: 20px;
    font-size: 16px;
    color: white;
}

.mini-icons{
    margin-right: 30px;
    fill: var(--color3)  /* Adjust margin as needed */
  }
.modal-content {
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity and color as needed */
    border-radius: 20px; /* Adjust border-radius as needed */
}

.modal-dialog {
    margin: 0 auto; /* Center the modal horizontally */
    max-width: 30%; /* Adjust max-width for desired width */
}

.modal-backdrop {
    background-color: transparent; /* Change the background color and adjust opacity as needed */
}
.card {
    border: none; /* Remove borders from all cards */
    background-color: transparent;
}
.card-body {
    height: auto;
    /* Set a fixed height for the card body */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Align content vertically */
    
}
.cropped-zoom-in {
    object-fit: cover; /* Do not scale the image */
    height: 650px; /* Set the desired height */
    width: auto; /* Let the width overflow */
    overflow-x: auto;
}
.image-wrapper img {
    transition: opacity 0.7s ease-in-out,  all 0.7s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.image-wrapper:hover img {
    
    opacity: 1; /* Set opacity for hover state */
    transform: scale(1.05); /* Zoom in effect on hover */
    /* Zoom in effect on hover */

}

.initial-price{
    font-size: smaller;
}

@keyframes fadeInGrow {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal.fade .modal-dialog {
    animation: fadeInGrow 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    .header-navigation ul li a {
        padding: 0 1px !important;
    }

    .header-navigation {
        justify-content: initial;
        font-size: 12px;
    }

    .btn {
        font-size: 12px;

    }
    .text-overlay {
        
        /* Adjust top position as needed */
        left: 40%;
        
    }

    .kanit-bold{
        font-size: 1.6rem;
    }

    .kanit-light {
        font-size: 1rem;
    }
    .kanit-light2 {
        font-size: 0.9rem;
        letter-spacing: 0px;
    }
    .kanit-light3 {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    .kanit-semibold {
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 20px;
    }

    .custom-button {
        font-size: 1rem;
        padding: 20px;
    }

    .kanit-semibold2 {
        font-size: 1.2rem;
    }

    .image-caption {
        padding: 10px;
        line-height: 10px;
    }

    .cropped-zoom-in {
        height: 300px; 
    }
    .box {
        margin-right: 4px; /* Optional: Add margin between boxes */
    }
    .modal-dialog {
        max-width: 80%; /* Adjust max-width for desired width */
    }
}